// Main Colors
$primary-color: #3498DB;
$secondary-color: #EDBB99;
$alert-color: #ff5b5b;
$success-color:#50bb50 ;
$light-color: #D6EAF8;
$dark-color: #30303f;

$shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
  0 1px 18px 0 rgb(0 0 0 / 12%);
$hoveredShadow: 0 3px 5px -1px rgb(0 0 0 / 30%), 0 6px 10px 0 rgb(0 0 0 / 25%),
  0 1px 18px 0 rgb(0 0 0 / 20%);
